<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me - Yan Felipe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="https://kit.fontawesome.com/ddf289598f.js" crossorigin="anonymous"></script>

</head>
<body class="corpo">
    <header class="cabecalho">
        <nav class="head">
            <a class="logo" href="/homepage">Yan Felipe</a>
            <div class="mobile-menu">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
            <ul class="nav-list">
                <li><a class="menu" href="/homepage">Homepage</a></li>
                <li><a class="menu" href="/aboutme">About me</a></li>
            </ul>
        </nav>
    </header>
    <main class="container">
        <section class="container-principal-a">
            <div class="container-btn">
                <div class="btn"></div>
            </div>
        </section>
        <section class="container-secundario-a">
            <img class="imagem-principal" src="../static/images/eu.jpg" alt="Minha foto">
            <div class="message-a">
                <p class="paragrafo">Olá!! Me chamo Yan, tenho 20 anos sou um programador Jr. Java, embora eu tenha feito esse site em Python. 🤭
                    <br><br>Esse é o meu primeiro site feito por mim. Considero ele a porta para muitas trajetórias e o resultado de muito estudo.
                    <br><br>Eu gosto muito de design, então acredito que eu possa trazer ele para a área que eu estudo que é programação.
                    <br><br>De vez em quando também faço uns filtros para o Instagram, nada muito sofisticado, pois não tenho um estudo profundo em design, faço mais por diversão.
                    <br><br>Também sou um pesquisador científico da Fiocruz, sim eu amo biologia, eu também peguei a programação e juntei com essa outra área, especificamente agora faço bioinformatica.
                    <br><br>Esses são meus contatos!!
                    <br><br>yanfelipesom@gmail.com | +55 9 7501-3330</p>
            </div>
        </section>
</main>
    <script src="../static/js/mobile-navbar.js"></script>
    <footer class="rodape">
    <div class="footer-content">
        <ul class="socials">
            <li><a href="https://github.com/oyanfelipe"><i class="fa-brands fa-github"></i></a><li>
            <li><a href="linkedin.com/in/yanfelipe"><i class="fa-brands fa-linkedin-in"></i></a><li>
            <li><a href="https://instagram.com/oyanfelipe"><i class="fa-brands fa-instagram"></i></a></li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy;2022 codeOpacity. designed by <span>vulcano</span></p>
    </div>
</footer>
</body>

</html>
